@import "./shared/mixins";
@import "./shared/functions";
@import "./storypro/variables";
@import "./storypro/global";
    
// Copy & Paste from CSS Variables

:root {
      /* page */
      --page-font-size: 17px;
      --page-background-color: #000000;
      --text-color: #ffffff;
      --heading-font: 'space mono', 'Helvetica Neue', Arial, Helvetica, sans-serif;
      --body-font: 'lora', 'Helvetica Neue', Arial, Helvetica, sans-serif;

      /* calculated text color opacity variations */
        --text-color-10: #0000001A;
        --text-color-20: #00000033;
        --text-color-30: #0000004D;
        --text-color-40: #00000066;
        --text-color-50: #00000080;
        --text-color-60: #00000099;
        --text-color-70: #000000B3;
        --text-color-80: #000000CC;
        --text-color-90: #000000E6;


      /* dividers */
      --divider-top-color: var(--text-color-70);
      --divider-bottom-color: var(--text-color-90);

      /* header fragment (shared by all full-screen elements) */

      /* full screen */
      --fullscreen-min-height: 100vh;
      --fullscreen-mobile-min-height: 100vh;

      --fullscreen-video-min-height: 100vh;
      --fullscreen-video-mobile-min-height: 70vh;

      --fullscreen-header-font-size: 3.4em;
      --fullscreen-header-margin-bottom: 0.75em;

      --fullscreen-mobile-header-font-size: 1.7em;
      --fullscreen-mobile-header-line-height: 1.25em;
      --fullscreen-mobile-header-margin-bottom: 0;

      --fullscreen-align-items: center;

      --fullscreen-summary-margin-top: 1em;
      --fullscreen-summary-mobile-margin-top: 1em;

      --fullscreen-summary-font-size: 1.6em;
      --fullscreen-summary-line-height: 1.7em;

      --fullscreen-summary-mobile-font-size: 1.2em;

      --fullscreen-credit-font-size: 1.333rem;
      --fullscreen-credit-line-height: 1;

      --fullscreen-table-background-color: var(--white-color);
      --fullscreen-table-border-style: solid;
      --fullscreen-table-border-width: 5px;

      /* color block (fullscreen element variation) */
      --colorblock-min-height: 90vh;
      --colorblock-mobile-min-height: 90vh;

      --colorblock-padding: 2em 0;
      --colorblock-mobile-padding: 2em;

      --colorblock-align-items: center;

      /* embed (fullscreen element variation */




      /* regular text */
      --font-size: 1.15em;
      --font-line-height: 1.85em;
      --mobile-font-size: 1.10em;
      --mobile-font-line-height: 1.65em;

      --regular-h1-text-color: var(--text-color);
      --regular-h1-font-size: 2.8rem;
      --regular-h1-mobile-font-size: 2.4rem;

      --regular-h1-subheader-text-color: var(--text-color-60);
      --regular-h1-subheader-font-size: 2.4rem;
      --regular-h1-mobile-subheader-font-size: 2.0rem;
      
      --regular-h2-text-color: var(--text-color);
      --regular-h2-font-size: 2.5rem;
      --regular-h2-mobile-font-size: 2.1rem;

      --regular-h2-subheader-text-color: var(--text-color-60);
      --regular-h2-subheader-font-size: 2.2rem;
      --regular-h2-mobile-subheader-font-size: 1.8rem;

      --regular-h3-text-color: var(--text-color);
      --regular-h3-font-size: 2.2rem;
      --regular-h3-mobile-font-size: 2.0rem;

      --regular-h3-subheader-text-color: var(--text-color-60);
      --regular-h3-subheader-font-size: 1.8rem;
      --regular-h3-mobile-subheader-font-size: 1.6rem;

      --regular-h4-text-color: var(--text-color);
      --regular-h4-font-size: 1.8rem;
      --regular-h4-mobile-font-size: 1.6rem;

      --regular-h4-subheader-text-color: var(--text-color-60);
      --regular-h4-subheader-font-size: 1.5rem;
      --regular-h4-mobile-subheader-font-size: 1.3rem;

      --regular-h5-text-color: var(--text-color);
      --regular-h5-font-size: 1.5rem;
      --regular-h5-mobile-font-size: 1.3rem;

      --regular-h5-subheader-text-color: var(--text-color-60);
      --regular-h5-subheader-font-size: 1.3rem;
      --regular-h5-mobile-subheader-font-size: 1.1rem;

      /* Richtext */

      --dropcap-font-family: var(--heading-font);
      --dropcap-font-size: 3em;
      --dropcap-font-weight: bold;
      --dropcap-line-height: 1.1;
      --dropcap-padding: 10px 30px 20px;
      --dropcap-margin: 10px 20px 0px 0px;

      --dropcap-mobile-line-height: 1.2;
      --dropcap-mobile-padding: 15px 30px 25px;

      /* image */
      --image-figure-margin: 0;
      --image-caption-font-size: 1.1em;
      --image-margin-bottom: 1.5em;

      /* regular embed */
      regular-embed-margin: 1.5em 0;


      /* links */
      --link-color: #cccccc;
      --link-opacity: 1.00;
      --link-weight: bold;
      --link-decoration: underline;
      --link-decoration-color: #ffffff;
      --link-decoration-thickness: 3.5px;
      --link-hover-color: #e91cef;
      --link-hover-opacity: 1;
      --link-hover-decoration: underline;
      --link-hover-decoration-color: #000000;
      --link-transition-time: 0.1s;
      --link-transition-timing: ease-in;

      /* dropdowns */
      --dropdown-background-color: #0f0231;
      --dropdown-text-color: #ffffff;
      --dropdown-border-width: 3.5px;
      --dropdown-border-color: #570cf4;
      --dropdown-border-style: dashed;
      --dropdown-selected-background-color: #000000;
      --dropdown-selected-text-color: #ffffff;
      --dropdown-hover-background-color: #000000;
      --dropdown-hover-text-color: #ffffff;
      --dropdown-hover-border-color: #bf12ef;
      --dropdown-visible-border-color: #bf12ef;

      /* pagination */
      --pagination-border-style: solid;
      --pagination-border-width: 4px;
      --pagination-border-color: #000000;
      --pagination-background-color: #ffffff;
      --pagination-text-color: #000000;
      --pagination-active-background-color: #bf12ef;
      --pagination-active-text-color: #ffffff;
      --pagination-hover-background-color: #000000;
      --pagination-hover-text-color: #ffffff;
      --pagination-disabled-background-color: #eeeeee;
      --pagination-disabled-text-color: #000000;

      /* base colors */
      --white-color: #ffffff;
      --black-color: #000000;
      --red-color: #b03060;
      --orange-color: #f28500;
      --yellow-color: #ffdf00;
      --olive-color: #8db600;
      --green-color: #3cb371;
      --teal-color: #20b2aa;
      --blue-color: #0f52ba;
      --violet-color: #7f00ff;
      --purple-color: #6f2da8;
      --pink-color: #fc5a8d;
      --brown-color: #965a3e;
      --grey-color: #c0c0c0;

      /* text colors */
      --white-text-color: #000000;
      --black-text-color: #ffffff;
      --red-text-color: #ffffff;
      --orange-text-color: #ffffff;
      --yellow-text-color: #000000;
      --olive-text-color: #ffffff;
      --green-text-color: #ffffff;
      --teal-text-color: #ffffff;
      --blue-text-color: #ffffff;
      --violet-text-color: #ffffff;
      --purple-text-color: #ffffff;
      --pink-text-color: #ffffff;
      --brown-text-color: #ffffff;
      --grey-text-color: #000000;

      /* menu */
      --menu-logo-width: 50px;
      --menu-mobile-logo-width: 50px;
      --menu-background-color: #0f0337;
      --menu-icon-color: #fcfcfc;
      --menu-button-color: #e60ded;
      --menu-button-text-color: #fcfcfc;
      --menu-button-hover-color: #b708bc;
      --menu-button-hover-text-color: #fcfcfc;
      --menu-button-transition-time: 0.1s;
      --menu-button-transition-timing: ease;

      --menu-link-color: white;
      --menu-link-opacity: 1;
      --menu-link-weight: normal;
      --menu-link-decoration: none;
      --menu-link-decoration-color: inherit;
      --menu-link-decoration-thickness: inherit;
      --menu-link-hover-color: white;
      --menu-link-hover-opacity: 0.9;
      --menu-link-hover-decoration: inherit;
      --menu-link-hover-decoration-color: inherit;
      --menu-link-transition-time: inherit;
      --menu-link-transition-timing: inherit;

      --menu-item-active-background-color: transparent;
      --menu-item-hover-background-color: transparent;


      /* sidebar */
      --sidebar-background-color: #0f0337;
      --sidebar-link-color:  #fcfcfc;
      --sidebar-divider-top-color: #b708bc;
      --sidebar-divider-bottom-color: #fcfcfc;

      /* color swatches */
      --color-icon-white-background-color: #ffffff;
      --color-icon-black-background-color: #000000;
      --color-icon-red-background-color: #b03060;
      --color-icon-orange-background-color: #f28500;
      --color-icon-yellow-background-color: #ffdf00;
      --color-icon-olive-background-color: #8db600;
      --color-icon-green-background-color: #3cb371;
      --color-icon-teal-background-color: #20b2aa;
      --color-icon-blue-background-color: #0f52ba;
      --color-icon-violet-background-color: #7f00ff;
      --color-icon-purple-background-color: #6f2da8;
      --color-icon-pink-background-color: #fc5a8d;
      --color-icon-brown-background-color: #965a3e;
      --color-icon-grey-background-color: #c0c0c0;
      
      /* profile */
      --profile-min-height: 80vh;
      --profile-padding: 5.5em 0 4em 0;
      --profile-mobile-padding: 5.5em 0 2em 0;

      --edit-profile-button-color: #ffffff;
      --edit-profile-button-text-color: #000000;
      --edit-profile-button-hover-color: #999999;
      --edit-profile-button-hover-text-color: #000000;
      --edit-profile-button-transition-time: 0.1s;
      --edit-profile-button-transition-timing: ease;
      
      --profile-card-background-color: #9575ff;
      --profile-card-border-width: 5px;
      --profile-card-border-radius: 17px;
      --profile-card-border-color: #000000;
      --profile-card-border-svg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23000000' /></svg>");
      --profile-card-header-color: #e3e3e3;
      --profile-card-description-text-color: #f5f5f5;
      --profile-card-metadata-text-color: #dedede;

      /* comments */
      --comments-background-color: #2a2a2a;

      --comments-padding: 4.5em 0 4.5em;
      --comments-margin: 0;

      --comments-mobile-padding: 3em 0 4.5em;
      --comments-mobile-margin: 0;

      --comments-top-border-color:  #000000;
      --comments-top-border-style: dashed;
      --comments-top-border-width: 10px;

      --comments-bottom-border-color: #000000;
      --comments-bottom-border-style: dashed;
      --comments-bottom-border-width: 10px;
      
      /* author widget */
      --author-widget-background-color: #6300fd;
      --author-widget-text-color: #ffffff;
      --author-widget-border-width: 5px;
      --author-widget-border-radius: 17px;
      --author-widget-border-color:  #000000;
      --author-widget-border-svg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23000000' /></svg>");
      --author-widget-padding: 1em;

      --author-widget-checkmark-background-color: var(--blue-color);
      --author-widget-checkmark-icon-color: var(--white-color);

      --author-widget-name-font-size: 1.25em;
      --author-widget-name-margin-top: 0.5em;

      --author-widget-divider-border-color:  #ffffff;
      --author-widget-divider-border-style: solid;
      --author-widget-divider-border-width: 2px;

      --author-widget-highlights-divider-border-color: transparent;
      --author-widget-highlights-divider-border-style: solid;
      --author-widget-highlights-divider-border-width: 1px;

      --author-widget-highlights-margin-top: 1em;
      --author-widget-highlights-padding-top: 0.5em;

      --author-widget-link-color: #ffffff;
      --author-widget-link-opacity: 1.00;
      --author-widget-link-weight: normal;
      --author-widget-link-decoration: none;
      --author-widget-link-decoration-color: #ffffff;
      --author-widget-link-decoration-thickness: 1.00px;
      --author-widget-link-hover-color: #eeeeee;
      --author-widget-link-hover-opacity: 1.00;
      --author-widget-link-hover-decoration: none;
      --author-widget-link-hover-decoration-color: #eeeeee;
      --author-widget-link-transition-time: 0.1s;
      --author-widget-link-transition-timing: ease;

      --author-widget-image-border-radius: 500rem;
      --author-widget-image-border-style: solid;
      --author-widget-image-border-width: 3px;
      --author-widget-image-border-color: var(--black-color);
      --author-widget-image-background-color: var(--white-color);
      --author-widget-image-max-width: 200px;
      --author-widget-image-padding: 5px;

      /* comment box */
      --comment-box-background-color: #6e4be4;
      --comment-box-padding: 1.5em 1.5em 2em 1.5em;

      --comment-box-border-color: #000000;
      --comment-box-border-width: 5px;
      --comment-box-border-radius: 17px;
      --comment-box-border-svg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23000000' /></svg>");

      --comment-box-textarea-border-color: #eeeeee;
      --comment-box-textarea-border-width: 8px;
      --comment-box-textarea-border-radius: 26px;
      --comment-box-textarea-border-svg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23eeeeee' /></svg>");

      --comment-box-textarea-background-color:  #ffffff;
      --comment-box-textarea-text-color: #000000;
      --comment-box-textarea-placeholder-text-color: #cccccc;
      --comment-box-textarea-focused-border-color: #eeeeee;

      --comment-box-textarea-disabled-background-color: #ffffff;
      --comment-box-textarea-disabled-text-color: #cccccc;

      --comment-box-button-background-color: #ffffff;
      --comment-box-button-text-color: #000000;
      --comment-box-button-margin: 1em auto 0;

      --comment-box-margin-bottom: 3em;

      
      /* comment card */
      --comment-card-background-color: #ffffff;
      --comment-card-text-color: #000000;
      --comment-card-border-color: #0f0337;
      --comment-card-border-width: 8px;
      --comment-card-border-radius: 26px;
      --comment-card-border-svg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%230f0337' /></svg>");
      --comment-card-box-shadow: none;
      --comment-card-margin-bottom: 3.0em;
      --comment-card-padding: 0;

      --comment-card-metadata-background-color:  #0f0337;
      --comment-card-metadata-font-size:  0.9em;
      --comment-card-metadata-text-color:  #ffffff;

      --comment-card-metadata-border-color: #f2f2f2;
      --comment-card-metadata-border-width:  6px !important;
      --comment-card-metadata-border-radius: 20px !important;
      --comment-card-metadata-border-svg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23f2f2f2' /></svg>");

      --comment-card-metadata-padding: 0.5em 1em;
      --comment-card-metadata-margin-bottom: 1.5em;

      --comment-card-profile-mobile-background-color: #f8f8f8;
      --comment-card-profile-mobile-padding-top: 1em;
      --comment-card-profile-mobile-padding-bottom: 1em;

      --comment-card-profile-link-color: #000000;
      --comment-card-profile-link-opacity: 1.00;
      --comment-card-profile-link-weight: normal;
      --comment-card-profile-link-decoration: underline;
      --comment-card-profile-link-decoration-color: #000000;
      --comment-card-profile-link-decoration-thickness: 1.00px;
      --comment-card-profile-link-hover-color: #666666;
      --comment-card-profile-link-hover-opacity: 1.00;
      --comment-card-profile-link-hover-decoration: double underline;
      --comment-card-profile-link-hover-decoration-color: #666666;
      --comment-card-profile-link-transition-time: 0.1s;
      --comment-card-profile-link-transition-timing: ease;

      --comment-card-profile-mobile-link-color: #000000;
      --comment-card-profile-mobile-link-opacity: 1.00;
      --comment-card-profile-mobile-link-weight: normal;
      --comment-card-profile-mobile-link-decoration: underline;
      --comment-card-profile-mobile-link-decoration-color: #000000;
      --comment-card-profile-mobile-link-decoration-thickness: 1.00px;
      --comment-card-profile-mobile-link-hover-color: #666666;
      --comment-card-profile-mobile-link-hover-opacity: 1.00;
      --comment-card-profile-mobile-link-hover-decoration: double underline;
      --comment-card-profile-mobile-link-hover-decoration-color: #666666;
      --comment-card-profile-mobile-link-transition-time: 0.1s;
      --comment-card-profile-mobile-link-transition-timing: ease;

      --comment-card-checkmark-background-color: var(--blue-color);
      --comment-card-checkmark-icon-color: var(--white-color);
      --comment-card-checkmark-font-size: 0.4em;
      --comment-card-checkmark-mobile-font-size: 0.4em;

      --comment-card-picture-margin: 0.5em 0;
      --comment-card-picture-max-width: 125px;
      --comment-card-picture-mobile-max-width: 55px;
      
      --comment-card-picture-border-color: #000000;
      --comment-card-picture-border-width: 3px;
      --comment-card-picture-border-svg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23000000' /></svg>");
      --comment-card-picture-border-radius: 0;
      --comment-card-picture-padding: 2px;
      
      --comment-card-picture-mobile-border-color: #000000;
      --comment-card-picture-mobile-border-width: 3px;
      --comment-card-picture-mobile-border-svg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23000000' /></svg>");
      --comment-card-picture-mobile-border-radius: 0;
      --comment-card-picture-mobile-padding: 2px;

      --main-comment-wrapper-padding-bottom: 1em;

      /* sub comments */
      --sub-comment-background-color: #efefef;
      --sub-comment-text-color: #000000;

      --sub-comment-padding: 0;
      --sub-comment-grid-mobile-padding-top: 1em;

      --sub-comment-card-profile-link-color: #000000;
      --sub-comment-card-profile-link-opacity: 1.00;
      --sub-comment-card-profile-link-weight: normal;
      --sub-comment-card-profile-link-decoration: none;
      --sub-comment-card-profile-link-decoration-color: #000000;
      --sub-comment-card-profile-link-decoration-thickness: 1.00px;
      --sub-comment-card-profile-link-hover-color: #666666;
      --sub-comment-card-profile-link-hover-opacity: 1.00;
      --sub-comment-card-profile-link-hover-decoration: none;
      --sub-comment-card-profile-link-hover-decoration-color: #666666;
      --sub-comment-card-profile-link-transition-time: 0.1s;
      --sub-comment-card-profile-link-transition-timing: ease;

      --sub-comment-card-profile-mobile-link-color: #000000;
      --sub-comment-card-profile-mobile-link-opacity: 1.00;
      --sub-comment-card-profile-mobile-link-weight: normal;
      --sub-comment-card-profile-mobile-link-decoration: none;
      --sub-comment-card-profile-mobile-link-decoration-color: #000000;
      --sub-comment-card-profile-mobile-link-decoration-thickness: 1.00px;
      --sub-comment-card-profile-mobile-link-hover-color: #666666;
      --sub-comment-card-profile-mobile-link-hover-opacity: 1.00;
      --sub-comment-card-profile-mobile-link-hover-decoration: none;
      --sub-comment-card-profile-mobile-link-hover-decoration-color: #666666;
      --sub-comment-card-profile-mobile-link-transition-time: 0.1s;
      --sub-comment-card-profile-mobile-link-transition-timing: ease;

      --sub-comment-card-profile-mobile-background-color: #0f0337;

      --sub-comment-card-profile-padding: 0.5em 0;
      --sub-comment-card-profile-font-size: 0.9em;
      --sub-comment-card-profile-mobile-font-size: 0.9em;

      --sub-comment-card-checkmark-background-color: var(--blue-color);
      --sub-comment-card-checkmark-icon-color: var(--white-color);
      --sub-comment-card-checkmark-font-size: 0.4em;
      --sub-comment-card-checkmark-mobile-font-size: 0.4em;

      --sub-comment-card-picture-margin: 0.5em 0;
      --sub-comment-card-picture-max-width: 55px;
      --sub-comment-card-picture-mobile-max-width: 35px;

      --sub-comment-card-picture-border-color: #000000;
      --sub-comment-card-picture-border-width: 2px;
      --sub-comment-card-picture-border-svg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23000000' /></svg>");
      --sub-comment-card-picture-border-radius: 0;
      --sub-comment-card-picture-padding: 1px;

      --sub-comment-card-picture-mobile-border-color: #000000;
      --sub-comment-card-picture-mobile-border-width: 2px;
      --sub-comment-card-picture-mobile-border-svg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23000000' /></svg>");
      --sub-comment-card-picture-mobile-border-radius: 0;
      --sub-comment-card-picture-mobile-padding: 1px;

      --sub-comment-card-profile-border-color: #0f0337;
      --sub-comment-card-profile-border-width: 2px;
      --sub-comment-card-profile-border-style: solid;

      --sub-comment-divider-border-color: #000000;
      --sub-comment-divider-border-width: 2px;
      --sub-comment-divider-border-style: solid;

      --sub-comment-box-background-color: #6e4be4;
      --sub-comment-box-padding: 1em 0.3em 0.3em 0.3em;

      --sub-comment-box-textarea-border-color: #eeeeee;
      --sub-comment-box-textarea-border-width: 4px;
      --sub-comment-box-textarea-border-radius: 14px;
      --sub-comment-box-textarea-border-svg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23eeeeee' /></svg>");

      --sub-comment-box-textarea-background-color:  #ffffff;
      --sub-comment-box-textarea-text-color: #000000;
      --sub-comment-box-textarea-placeholder-text-color: #cccccc;
      --sub-comment-box-textarea-focused-border-color: #eeeeee;

      --sub-comment-box-textarea-disabled-background-color: #ffffff;
      --sub-comment-box-textarea-disabled-text-color: #cccccc;

      --sub-comment-box-button-background-color: #ffffff;
      --sub-comment-box-button-text-color: #000000;
      --sub-comment-box-button-margin: 1.0em auto 0.75em auto;
      --sub-comment-box-button-max-width: 200px;

      /* authentication */
      --auth-button-color: #e60ded;
      --auth-button-text-color: #fcfcfc;
      --auth-button-hover-color: #b708bc;
      --auth-button-hover-text-color: #fcfcfc;
      --auth-button-transition-time: 0.1s;
      --auth-button-transition-timing: ease-in;
      
      --auth-card-background-color: #ffffff;
      --auth-card-border-width: 10px;
      --auth-card-border-radius: 32px;
      --auth-card-border-color: #000000;
      --auth-card-border-svg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23000000' /></svg>");
      --auth-card-header-color: #000000;
      --auth-card-body-text-color: #2e2e2e;
      
      --auth-card-link-color: #000000;
      --auth-card-link-opacity: 1.00;
      --auth-card-link-weight: bolder;
      --auth-card-link-decoration: underline;
      --auth-card-link-decoration-color: #000000;
      --auth-card-link-decoration-thickness: 1.00px;
      --auth-card-link-hover-color: #121212;
      --auth-card-link-hover-opacity: 1.00;
      --auth-card-link-hover-decoration: none;
      --auth-card-link-hover-decoration-color: #121212;
      --auth-card-link-transition-time: 0.1s;
      --auth-card-link-transition-timing: ease;

      /* footer */
      --footer-background-color: #0f0337;
      --footer-text-color: #ffffff;
      --footer-padding: 1em 0 1em;
      --footer-mobile-padding: 1.5em 0 1.5em;

      --footer-link-color: var(--footer-text-color);
      --footer-link-opacity: 1;
      --footer-link-weight: normal;
      --footer-link-decoration: none;
      --footer-link-decoration-color: inherit;
      --footer-link-decoration-thickness: inherit;
      --footer-link-hover-color: var(--footer-text-color);
      --footer-link-hover-opacity: 0.9;
      --footer-link-hover-decoration: inherit;
      --footer-link-hover-decoration-color: inherit;
      --footer-link-transition-time: inherit;
      --footer-link-transition-timing: inherit;

      --footer-image-width: 37px;
      --footer-image-mobile-width: 32px;

      /* homepage discussion cards */
      --homepage-padding-top: 9em;


      --homepage-card-background-color: #120331;
      --homepage-card-border-width: 4px;
      --homepage-card-border-radius: 14px;
      --homepage-card-border-color: #eeeeee;
      --homepage-card-border-svg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23eeeeee' /></svg>");
      --homepage-card-header-color: #ffffff;
      --homepage-card-description-text-color: #fafafa;
      --homepage-card-metadata-text-color: #f100ff;

      --homepage-card-category-border-style: dashed;
      --homepage-card-category-border-width: 4px;

      --homepage-card-category-white-text-color: #fafafa;
      --homepage-card-category-black-text-color: #fafafa;
      --homepage-card-category-red-text-color: #fafafa;
      --homepage-card-category-orange-text-color: #fafafa;
      --homepage-card-category-yellow-text-color: #fafafa;
      --homepage-card-category-olive-text-color: #fafafa;
      --homepage-card-category-green-text-color: #fafafa;
      --homepage-card-category-teal-text-color: #fafafa;
      --homepage-card-category-blue-text-color: #fafafa;
      --homepage-card-category-violet-text-color: #fafafa;
      --homepage-card-category-purple-text-color: #fafafa;
      --homepage-card-category-pink-text-color: #fafafa;
      --homepage-card-category-brown-text-color: #fafafa;
      --homepage-card-category-grey-text-color: #fafafa;

      --homepage-card-category-white-border-color: #ffffff;
      --homepage-card-category-black-border-color: #000000;
      --homepage-card-category-red-border-color: #b03060;
      --homepage-card-category-orange-border-color: #f28500;
      --homepage-card-category-yellow-border-color: #ffdf00;
      --homepage-card-category-olive-border-color: #8db600;
      --homepage-card-category-green-border-color: #3cb371;
      --homepage-card-category-teal-border-color: #20b2aa;
      --homepage-card-category-blue-border-color: #0f52ba;
      --homepage-card-category-violet-border-color: #7f00ff;
      --homepage-card-category-purple-border-color: #6f2da8;
      --homepage-card-category-pink-border-color: #fc5a8d;
      --homepage-card-category-brown-border-color: #965a3e;
      --homepage-card-category-grey-border-color: #c0c0c0;

      /* homepage widget */
      --homepage-featured-border-width: 7px;
      --homepage-featured-border-radius: 23px;
      --homepage-featured-border-color:  #550cf4;
      --homepage-featured-border-svg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23550cf4' /></svg>");

      /* references */
      --references-padding: 3.5em 0 3.5em;
      --references-margin: 0;

      --references-mobile-padding: 3.5em 0 2.5em;
      --references-mobile-margin: 0;


      /* engager */
      --engager-padding: 3.5em 0 3.5em;
      --engager-margin: 0;

      --engager-mobile-padding: 3.5em 0 2.5em;
      --engager-mobile-margin: 0;
      
      --engager-background-color: #5a00ff;
      --engager-bottom-border-color: #ffffff;
      --engager-bottom-border-style: solid;
      --engager-bottom-border-width: 5px;

      --engager-header-color: #fcfcfc;
      --engager-icon-color: #fcfcfc;
      
      --engager-link-color: #fcfcfc;
      --engager-link-opacity: 1.00;
      --engager-link-weight: bolder;
      --engager-link-decoration: underline;
      --engager-link-decoration-color: #fcfcfc;
      --engager-link-decoration-thickness: 4px;
      --engager-link-hover-color: #ffffff;
      --engager-link-hover-opacity: 1.00;
      --engager-link-hover-decoration: underline;
      --engager-link-hover-decoration-color: #fdfdfd;
      --engager-link-transition-time: 0.1s;
      --engager-link-transition-timing: ease;

      /* promos */
      --promo-border-color: #ffffff;
      --promo-border-width: 11px;
      --promo-border-radius: 35px;
      --promo-border-svg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23ffffff' /></svg>");
      --promo-padding: 1em 1em 2.0em;
      --promo-mobile-padding: 1em 1em 1em;
      --promo-margin-top: 0;
      --promo-mobile-margin-top: 0;
      --promo-bottom-position: 0%;

      --promo-header-font-size: 2em;
      --promo-header-line-height: 1.28571429em;
      --promo-header-mobile-font-size: 1.55em;
      --promo-header-text-color: white;
      --promo-header-text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
      --promo-header-margin-bottom: 0.3em;

      --promo-text-font-size: 1.5em;
      --promo-text-line-height: 1.28571429em;
      --promo-text-mobile-font-size: 1.11em;
      --promo-text-color: white;
      --promo-text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
      --promo-text-margin-bottom: 0;

      --promo-overlay-background-color: linear-gradient(135deg, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.65) 100%);  
}

// specfic override
#comments-fragment {
  --author-widget-background-color: green;
  --author-widget-background-size: 150%;
  --author-widget-background-position: calc(100% * #{$c1}) 5%;
  --author-widget-filter: hue-rotate(calc(360deg * #{$c1}));
  
  // got image at https://fffuel.co/ssscales/
  // url encoded with (https://yoksel.github.io/url-encoder/)
  // open svg fie with text editor -> copy and pate int oinsert svg
  --author-widget-background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 800 800'%3E%3Cg%3E%3Ccircle r='37.5' cx='0' cy='0' fill='hsl(250, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='0' cy='75' fill='hsl(250, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='0' cy='150' fill='hsl(250, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='0' cy='225' fill='hsl(250, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='0' cy='300' fill='hsl(250, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='0' cy='375' fill='hsl(250, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='0' cy='450' fill='hsl(252, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='0' cy='525' fill='hsl(253, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='0' cy='600' fill='hsl(258, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='0' cy='675' fill='hsl(262, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='0' cy='750' fill='hsl(270, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='0' cy='825' fill='hsl(270, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='0' cy='900' fill='hsl(270, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='75' cy='0' fill='hsl(239, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='75' cy='75' fill='hsl(239, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='75' cy='150' fill='hsl(239, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='75' cy='225' fill='hsl(240, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='75' cy='300' fill='hsl(241, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='75' cy='375' fill='hsl(242, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='75' cy='450' fill='hsl(244, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='75' cy='525' fill='hsl(246, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='75' cy='600' fill='hsl(251, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='75' cy='675' fill='hsl(255, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='75' cy='750' fill='hsl(264, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='75' cy='825' fill='hsl(264, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='75' cy='900' fill='hsl(264, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='150' cy='0' fill='hsl(218, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='150' cy='75' fill='hsl(218, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='150' cy='150' fill='hsl(220, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='150' cy='225' fill='hsl(221, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='150' cy='300' fill='hsl(224, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='150' cy='375' fill='hsl(225, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='150' cy='450' fill='hsl(229, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='150' cy='525' fill='hsl(232, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='150' cy='600' fill='hsl(238, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='150' cy='675' fill='hsl(242, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='150' cy='750' fill='hsl(251, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='150' cy='825' fill='hsl(251, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='150' cy='900' fill='hsl(251, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='225' cy='0' fill='hsl(209, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='225' cy='75' fill='hsl(209, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='225' cy='150' fill='hsl(211, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='225' cy='225' fill='hsl(212, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='225' cy='300' fill='hsl(216, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='225' cy='375' fill='hsl(218, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='225' cy='450' fill='hsl(223, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='225' cy='525' fill='hsl(226, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='225' cy='600' fill='hsl(232, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='225' cy='675' fill='hsl(236, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='225' cy='750' fill='hsl(245, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='225' cy='825' fill='hsl(245, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='225' cy='900' fill='hsl(245, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='300' cy='0' fill='hsl(195, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='300' cy='75' fill='hsl(195, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='300' cy='150' fill='hsl(197, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='300' cy='225' fill='hsl(199, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='300' cy='300' fill='hsl(204, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='300' cy='375' fill='hsl(206, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='300' cy='450' fill='hsl(212, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='300' cy='525' fill='hsl(215, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='300' cy='600' fill='hsl(221, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='300' cy='675' fill='hsl(225, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='300' cy='750' fill='hsl(233, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='300' cy='825' fill='hsl(233, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='300' cy='900' fill='hsl(233, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='375' cy='0' fill='hsl(190, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='375' cy='75' fill='hsl(190, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='375' cy='150' fill='hsl(193, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='375' cy='225' fill='hsl(195, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='375' cy='300' fill='hsl(199, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='375' cy='375' fill='hsl(202, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='375' cy='450' fill='hsl(207, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='375' cy='525' fill='hsl(210, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='375' cy='600' fill='hsl(216, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='375' cy='675' fill='hsl(220, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='375' cy='750' fill='hsl(228, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='375' cy='825' fill='hsl(228, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='375' cy='900' fill='hsl(228, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='450' cy='0' fill='hsl(185, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='450' cy='75' fill='hsl(185, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='450' cy='150' fill='hsl(188, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='450' cy='225' fill='hsl(190, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='450' cy='300' fill='hsl(193, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='450' cy='375' fill='hsl(196, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='450' cy='450' fill='hsl(200, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='450' cy='525' fill='hsl(203, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='450' cy='600' fill='hsl(208, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='450' cy='675' fill='hsl(212, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='450' cy='750' fill='hsl(219, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='450' cy='825' fill='hsl(219, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='450' cy='900' fill='hsl(219, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='525' cy='0' fill='hsl(184, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='525' cy='75' fill='hsl(185, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='525' cy='150' fill='hsl(187, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='525' cy='225' fill='hsl(189, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='525' cy='300' fill='hsl(192, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='525' cy='375' fill='hsl(194, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='525' cy='450' fill='hsl(198, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='525' cy='525' fill='hsl(200, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='525' cy='600' fill='hsl(205, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='525' cy='675' fill='hsl(208, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='525' cy='750' fill='hsl(216, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='525' cy='825' fill='hsl(216, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='525' cy='900' fill='hsl(216, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='600' cy='0' fill='hsl(187, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='600' cy='75' fill='hsl(188, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='600' cy='150' fill='hsl(190, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='600' cy='225' fill='hsl(191, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='600' cy='300' fill='hsl(193, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='600' cy='375' fill='hsl(194, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='600' cy='450' fill='hsl(195, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='600' cy='525' fill='hsl(197, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='600' cy='600' fill='hsl(200, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='600' cy='675' fill='hsl(203, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='600' cy='750' fill='hsl(209, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='600' cy='825' fill='hsl(209, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='600' cy='900' fill='hsl(209, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='675' cy='0' fill='hsl(189, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='675' cy='75' fill='hsl(191, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='675' cy='150' fill='hsl(193, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='675' cy='225' fill='hsl(193, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='675' cy='300' fill='hsl(194, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='675' cy='375' fill='hsl(194, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='675' cy='450' fill='hsl(195, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='675' cy='525' fill='hsl(195, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='675' cy='600' fill='hsl(198, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='675' cy='675' fill='hsl(200, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='675' cy='750' fill='hsl(206, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='675' cy='825' fill='hsl(206, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='675' cy='900' fill='hsl(206, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='750' cy='0' fill='hsl(197, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='750' cy='75' fill='hsl(199, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='750' cy='150' fill='hsl(200, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='750' cy='225' fill='hsl(200, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='750' cy='300' fill='hsl(199, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='750' cy='375' fill='hsl(198, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='750' cy='450' fill='hsl(195, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='750' cy='525' fill='hsl(194, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='750' cy='600' fill='hsl(195, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='750' cy='675' fill='hsl(196, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='750' cy='750' fill='hsl(201, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='750' cy='825' fill='hsl(201, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='750' cy='900' fill='hsl(201, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='825' cy='0' fill='hsl(197, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='825' cy='75' fill='hsl(199, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='825' cy='150' fill='hsl(200, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='825' cy='225' fill='hsl(200, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='825' cy='300' fill='hsl(199, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='825' cy='375' fill='hsl(198, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='825' cy='450' fill='hsl(195, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='825' cy='525' fill='hsl(194, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='825' cy='600' fill='hsl(195, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='825' cy='675' fill='hsl(196, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='825' cy='750' fill='hsl(201, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='825' cy='825' fill='hsl(201, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='825' cy='900' fill='hsl(201, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='900' cy='0' fill='hsl(197, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='900' cy='75' fill='hsl(199, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='900' cy='150' fill='hsl(200, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='900' cy='225' fill='hsl(200, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='900' cy='300' fill='hsl(199, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='900' cy='375' fill='hsl(198, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='900' cy='450' fill='hsl(195, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='900' cy='525' fill='hsl(194, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='900' cy='600' fill='hsl(195, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='900' cy='675' fill='hsl(196, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='900' cy='750' fill='hsl(201, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='900' cy='825' fill='hsl(201, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='900' cy='900' fill='hsl(201, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='975' cy='0' fill='hsl(197, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='975' cy='75' fill='hsl(199, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='975' cy='150' fill='hsl(200, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='975' cy='225' fill='hsl(200, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='975' cy='300' fill='hsl(199, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='975' cy='375' fill='hsl(198, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='975' cy='450' fill='hsl(195, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='975' cy='525' fill='hsl(194, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='975' cy='600' fill='hsl(195, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='975' cy='675' fill='hsl(196, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='975' cy='750' fill='hsl(201, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='975' cy='825' fill='hsl(201, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='975' cy='900' fill='hsl(201, 91%25, 50%25)'%3E%3C/circle%3E%3C/g%3E%3Cg transform='matrix(1,0,0,1,-37.5,0)'%3E%3Ccircle r='37.5' cx='0' cy='37.5' fill='hsl(250, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='0' cy='112.5' fill='hsl(250, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='0' cy='187.5' fill='hsl(250, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='0' cy='262.5' fill='hsl(250, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='0' cy='337.5' fill='hsl(250, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='0' cy='412.5' fill='hsl(251, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='0' cy='487.5' fill='hsl(252, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='0' cy='562.5' fill='hsl(255, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='0' cy='637.5' fill='hsl(258, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='0' cy='712.5' fill='hsl(266, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='0' cy='787.5' fill='hsl(270, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='0' cy='862.5' fill='hsl(270, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='75' cy='37.5' fill='hsl(239, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='75' cy='112.5' fill='hsl(239, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='75' cy='187.5' fill='hsl(239, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='75' cy='262.5' fill='hsl(240, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='75' cy='337.5' fill='hsl(241, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='75' cy='412.5' fill='hsl(243, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='75' cy='487.5' fill='hsl(244, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='75' cy='562.5' fill='hsl(248, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='75' cy='637.5' fill='hsl(251, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='75' cy='712.5' fill='hsl(259, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='75' cy='787.5' fill='hsl(264, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='75' cy='862.5' fill='hsl(264, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='150' cy='37.5' fill='hsl(218, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='150' cy='112.5' fill='hsl(219, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='150' cy='187.5' fill='hsl(220, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='150' cy='262.5' fill='hsl(222, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='150' cy='337.5' fill='hsl(224, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='150' cy='412.5' fill='hsl(227, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='150' cy='487.5' fill='hsl(229, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='150' cy='562.5' fill='hsl(235, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='150' cy='637.5' fill='hsl(238, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='150' cy='712.5' fill='hsl(246, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='150' cy='787.5' fill='hsl(251, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='150' cy='862.5' fill='hsl(251, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='225' cy='37.5' fill='hsl(209, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='225' cy='112.5' fill='hsl(210, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='225' cy='187.5' fill='hsl(211, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='225' cy='262.5' fill='hsl(214, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='225' cy='337.5' fill='hsl(216, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='225' cy='412.5' fill='hsl(220, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='225' cy='487.5' fill='hsl(223, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='225' cy='562.5' fill='hsl(229, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='225' cy='637.5' fill='hsl(232, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='225' cy='712.5' fill='hsl(240, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='225' cy='787.5' fill='hsl(245, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='225' cy='862.5' fill='hsl(245, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='300' cy='37.5' fill='hsl(195, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='300' cy='112.5' fill='hsl(196, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='300' cy='187.5' fill='hsl(197, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='300' cy='262.5' fill='hsl(201, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='300' cy='337.5' fill='hsl(204, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='300' cy='412.5' fill='hsl(209, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='300' cy='487.5' fill='hsl(212, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='300' cy='562.5' fill='hsl(218, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='300' cy='637.5' fill='hsl(221, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='300' cy='712.5' fill='hsl(229, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='300' cy='787.5' fill='hsl(233, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='300' cy='862.5' fill='hsl(233, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='375' cy='37.5' fill='hsl(190, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='375' cy='112.5' fill='hsl(191, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='375' cy='187.5' fill='hsl(193, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='375' cy='262.5' fill='hsl(197, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='375' cy='337.5' fill='hsl(199, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='375' cy='412.5' fill='hsl(204, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='375' cy='487.5' fill='hsl(207, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='375' cy='562.5' fill='hsl(213, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='375' cy='637.5' fill='hsl(216, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='375' cy='712.5' fill='hsl(224, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='375' cy='787.5' fill='hsl(228, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='375' cy='862.5' fill='hsl(228, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='450' cy='37.5' fill='hsl(185, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='450' cy='112.5' fill='hsl(186, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='450' cy='187.5' fill='hsl(188, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='450' cy='262.5' fill='hsl(191, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='450' cy='337.5' fill='hsl(193, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='450' cy='412.5' fill='hsl(198, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='450' cy='487.5' fill='hsl(200, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='450' cy='562.5' fill='hsl(205, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='450' cy='637.5' fill='hsl(208, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='450' cy='712.5' fill='hsl(215, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='450' cy='787.5' fill='hsl(219, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='450' cy='862.5' fill='hsl(219, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='525' cy='37.5' fill='hsl(184, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='525' cy='112.5' fill='hsl(186, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='525' cy='187.5' fill='hsl(187, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='525' cy='262.5' fill='hsl(191, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='525' cy='337.5' fill='hsl(192, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='525' cy='412.5' fill='hsl(196, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='525' cy='487.5' fill='hsl(198, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='525' cy='562.5' fill='hsl(203, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='525' cy='637.5' fill='hsl(205, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='525' cy='712.5' fill='hsl(212, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='525' cy='787.5' fill='hsl(216, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='525' cy='862.5' fill='hsl(216, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='600' cy='37.5' fill='hsl(187, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='600' cy='112.5' fill='hsl(189, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='600' cy='187.5' fill='hsl(190, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='600' cy='262.5' fill='hsl(192, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='600' cy='337.5' fill='hsl(193, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='600' cy='412.5' fill='hsl(194, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='600' cy='487.5' fill='hsl(195, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='600' cy='562.5' fill='hsl(198, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='600' cy='637.5' fill='hsl(200, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='600' cy='712.5' fill='hsl(206, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='600' cy='787.5' fill='hsl(209, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='600' cy='862.5' fill='hsl(209, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='675' cy='37.5' fill='hsl(189, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='675' cy='112.5' fill='hsl(192, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='675' cy='187.5' fill='hsl(193, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='675' cy='262.5' fill='hsl(194, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='675' cy='337.5' fill='hsl(194, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='675' cy='412.5' fill='hsl(195, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='675' cy='487.5' fill='hsl(195, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='675' cy='562.5' fill='hsl(196, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='675' cy='637.5' fill='hsl(198, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='675' cy='712.5' fill='hsl(203, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='675' cy='787.5' fill='hsl(206, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='675' cy='862.5' fill='hsl(206, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='750' cy='37.5' fill='hsl(197, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='750' cy='112.5' fill='hsl(200, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='750' cy='187.5' fill='hsl(200, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='750' cy='262.5' fill='hsl(200, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='750' cy='337.5' fill='hsl(199, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='750' cy='412.5' fill='hsl(196, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='750' cy='487.5' fill='hsl(195, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='750' cy='562.5' fill='hsl(194, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='750' cy='637.5' fill='hsl(195, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='750' cy='712.5' fill='hsl(198, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='750' cy='787.5' fill='hsl(201, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='750' cy='862.5' fill='hsl(201, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='825' cy='37.5' fill='hsl(197, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='825' cy='112.5' fill='hsl(200, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='825' cy='187.5' fill='hsl(200, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='825' cy='262.5' fill='hsl(200, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='825' cy='337.5' fill='hsl(199, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='825' cy='412.5' fill='hsl(196, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='825' cy='487.5' fill='hsl(195, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='825' cy='562.5' fill='hsl(194, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='825' cy='637.5' fill='hsl(195, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='825' cy='712.5' fill='hsl(198, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='825' cy='787.5' fill='hsl(201, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='825' cy='862.5' fill='hsl(201, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='900' cy='37.5' fill='hsl(197, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='900' cy='112.5' fill='hsl(200, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='900' cy='187.5' fill='hsl(200, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='900' cy='262.5' fill='hsl(200, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='900' cy='337.5' fill='hsl(199, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='900' cy='412.5' fill='hsl(196, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='900' cy='487.5' fill='hsl(195, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='900' cy='562.5' fill='hsl(194, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='900' cy='637.5' fill='hsl(195, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='900' cy='712.5' fill='hsl(198, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='900' cy='787.5' fill='hsl(201, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='900' cy='862.5' fill='hsl(201, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='975' cy='37.5' fill='hsl(197, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='975' cy='112.5' fill='hsl(200, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='975' cy='187.5' fill='hsl(200, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='975' cy='262.5' fill='hsl(200, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='975' cy='337.5' fill='hsl(199, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='975' cy='412.5' fill='hsl(196, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='975' cy='487.5' fill='hsl(195, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='975' cy='562.5' fill='hsl(194, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='975' cy='637.5' fill='hsl(195, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='975' cy='712.5' fill='hsl(198, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='975' cy='787.5' fill='hsl(201, 91%25, 50%25)'%3E%3C/circle%3E%3Ccircle r='37.5' cx='975' cy='862.5' fill='hsl(201, 91%25, 50%25)'%3E%3C/circle%3E%3C/g%3E%3C/svg%3E%0A");
  // --author-widget-image-background-color: #7f2fff;
}


// Needs a Hook
.ui.breadcrumb .divider {
  color: white !important;
}