#engager {
  //--promo-bottom-position: 25%;
  @include bottom_position('promo-', 25%);
  @include text_align('promo-header-', center);
  @include text_align('promo--', center);
  @include font_size('promo-header-', 2.5em);
  @include bg_color('promo-overlay-', rgba(230,11,237,0.3));
  @include filter('promo-image-', saturate(#{tf1(0, 3.5)}));
  //--promo-header-text-align: center;
  //--promo-text-align: center;
  //--promo-header-font-size: 2.5em;
  //--promo-overlay-background-color: rgba(230,11,237,0.3);
  //--promo-image-filter: Saturate(calc(3.5 * var(--percent)));
  --promo-header-text-shadow: 5px 3px 0px rgba(0,0,0,0.5);
  --promo-text-shadow: 3px 1px 0px rgb(0 0 0);
  --promo-image-transform: scale( max(calc(1.08 * var(--percent)),1) );
  --promo-header-transform: scale( max(calc(1.25 * var(--percent) ),1) );
  --promo-text-transform: translateY( calc(30px * var(--percent) ) );
  --promo-header-line-height: 1.1em;
}

//--promo-bottom-position: 25%;
//--promo-header-text-align: center;
//--promo-text-align: center;
//--promo-header-font-size: 2.5em;
//--promo-overlay-background-color: rgba(230,11,237,0.3);
//--promo-image-filter: Saturate(calc(3.5 * var(--percent)));
//--promo-header-text-shadow: 5px 3px 0px rgba(0,0,0,0.5);
//--promo-text-shadow: 3px 1px 0px rgb(0 0 0);

//--promo-image-transform: scale( max(calc(1.08 * var(--percent)),1) );

//--promo-header-transform: scale( max(calc(1.25 * var(--percent) ),1) );
//--promo-text-transform: translateY( calc(30px * var(--percent) ) );

//--promo-header-line-height: 1.1em;