// ************ $$$$$$$ PROMOS $$$$$$$ ************ /

#promo-element-275 {
  @include bottom_position('promo-', '25%');
  @include text_align('promo-header-', 'center');
  @include text_align('promo-', 'center');
  @include font_size('promo-header-', '2.9em');
  @include bg_color('promo-overlay-', 'rgba(230,11,237,0.3)');
  @include filter('promo-image-', Saturate(#{tf1(0, 3.5)}));
  @include text_shadow('promo-header-', '5px 3px 0px rgba(0,0,0,0.5)');
  @include text_shadow('promo-', '3px 1px 0px rgb(0 0 0)');
  @include transform('promo-image-', Scale(#{tf1(1, 1.05)}));
  @include transform('promo-header-', Scale(#{tf1(1, 1.25)}));
  @include transform('promo-text-', translateY(#{txf1(0, 20)}));
  @include line_height('promo-header-', '1.1em');
}


// ************ $$$$$$$ REGULAR ELEMENTS $$$$$$$ ************ /

// Regular Elements
// **** Gradient Header Headers **** /
#element-3610 {
  .header {
    @supports ((background-clip: text) or (-webkit-background-clip: text)) and
      ((text-fill-color: transparent) or (-webkit-text-fill-color: transparent)) {
        background-image: linear-gradient(90deg, #ff419e, #9968ea);
        background-size: cover;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
    }
  }
}


// **** 2 Col Comparison Table **** /
#element-482 {
  table {
    background: linear-gradient(45deg, #ff419e, #9968ea);
    color: white;
    transform: scale(#{tf2(1, 1.2)});

    th {
      background: rgba(0,0,0,0.20);
      width: 50%;
      text-align: center;
      color: white;
      text-transform: uppercase;
    }

    td {
      text-align: center;
    }

  }
}